body{
    height: 100vh;
    background-color: #ffffff;
}
/* BANNER START */
.banner{
    background-color: #8b0000;
    color: #ffffff;
    height: 65px;
    font-size: 20px;
}
.icons{
    color: #ffffff;
}
/* BANNER END */
/* NAV START */
.nav-info{
    padding: 35px 0;
}
.nav-info,.nav-link.active{
    border-bottom: 1.5px solid #8b0000;
}
.wbi_logo{
    height: 100px;
    width: 200px;
    padding: 5px;
}
.nav-list, .nav-info, .title, .carousel{
    margin-top: 20px;
}
.nav-link{
    list-style-type: none;
    font-weight: bold;
    color: black;
}
/* NAV END */
/* CAROUSEL START */
.carousel-indicators li{
    height: 15px;
    width: 15px;
    border-radius: 20px;
}
/* CAROUSEL END */
/* START THUMBNAILS */
hr, .sm_underline, .lg_underline{
    background-color: #8b0000;
    height: 3px;
    border-radius: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.thumbnail_title{
    margin: 15px 0;

}
/* END THUMBNAILS */
/* START PHONE MEDIA Qs*/
@media only screen and (max-width: 599px){
    .hide_mobile{
        display: none;
    }
    .mobile_resp{
        /* display: block; */
    }
    .nav-info-sm{
        border-bottom: 1.5px solid #8b0000;
    }
}
/* END PHONE MEDIA Qs */
/* START LARGER SCREEN Qs */
@media only screen and (min-width: 600px) and (max-width: 1199px){
    .mobile_resp{
        display: none;
    }
    .hide_mobile{
        /* display: block; */
    }
    .nav-info-sm{
        border: none;
    }
    .wbi_logo{
        padding-left: 15px;
        padding-right: 0;
    }
    .lg_icons{
        color: #8b0000;
        margin-left: 20px;
        font-size: 20px;
    }
    .icon_text{
        margin-bottom: 0;
        margin-left: 20px;
        font-weight: bold;
        font-size: 15px;
    }
    .column_padding{
        padding: 0;
    }
}
@media only screen and (min-width: 1200px){
    .mobile_resp{
        display: none;
    }
    /* .hide_mobile{
        display: block;
    } */
    .nav-info-sm{
        border: none;
    }
    .lg_icons{
        color: #8b0000;
        margin-left: 20px;
        font-size: 25px;
    }
    .icon_text{
        margin-bottom: 0;
        margin-left: 20px;
        font-weight: bold;
    }

}